@keyframes bgWave {
  0% {
    background-size: 400% 400%;
    background-position: 0% 50%;
  }
  50% {
    background-size: 400% 400%;
    background-position: 100% 50%;
  }
  100% {
    background-size: 400% 400%;
    background-position: 0% 50%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 30px;
  background-size: 400% 400%;
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    rgb(0, 80, 124),
    #23d5ab
  );
  animation: bgWave 10s infinite ease-in-out;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
