.badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin: auto;
  font-size: 0.8rem;
  color: black;
  border-radius: 3px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.badge img {
  position: relative;
  width: 15px;
  margin-right: 0.4rem;
  object-fit: cover;
}
